name: Build APK (Debug)

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      # لا نستخدم gradlew، بل Gradle مباشرة
      - name: Install Gradle
        run: sudo apt-get install -y gradle

      - name: Build Debug APK
        run: gradle assembleDebug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: BassamScanner-debug-apk
          path: app/build/outputs/apk/debug/*.apk
